html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    background-color: #007bff;
    border-bottom: 3px solid #0056b3;
}

.nav-link {
    color: white;
    transition: color 0.3s ease-in-out;
}

    .nav-link:hover, .nav-link:focus {
        color: #aeefff;
        text-decoration: none;
    }

.nav-item .fa {
    margin-right: 5px;
}